<div class="page-header">
  <h1>Issues</h1>
</div>
<ul class="list-unstyled list-inline">
  <li><a href="<%= newIssuesPath() %>" class="btn btn-primary">Create New Issue</a></li>
</ul>

<table class="table table-striped">
  <thead>
  <th>Title</th>
    <th>ExperienceNeeded</th>
    <th>ExpectedTime</th>
    <th>Language</th>
    <th>TechStack</th>
    <th>Number</th>
    <th>Tags</th>
    <th>URL</th>
    <th>Body</th>
    <th>Type</th>
    <th>Repository</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (issue) in issues { %>
      <tr>
      <td><%= issue.Title %></td>
        <td><%= issue.ExperienceNeeded %></td>
        <td><%= issue.ExpectedTime %></td>
        <td><%= issue.Language %></td>
        <td><%= issue.TechStack %></td>
        <td><%= issue.Number %></td>
        <td><%= issue.Tags %></td>
        <td><%= issue.URL %></td>
        <td><%= issue.Body %></td>
        <td><%= issue.Type %></td>
        <td><%= issue.Repository %></td>
        <td>
          <div class="pull-right">
            <a href="<%= issuePath({ issue_id: issue.ID }) %>" class="btn btn-info">View</a>
            <a href="<%= editIssuePath({ issue_id: issue.ID }) %>" class="btn btn-warning">Edit</a>
            <a href="<%= issuePath({ issue_id: issue.ID }) %>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
