<div class="page-header">
  <h1>Issue#Show</h1>
</div>

<ul class="list-unstyled list-inline">
  <li class="list-inline-item"><a href="<%= issuesPath() %>" class="btn btn-info">Back to all Issues</a></li>
  <li class="list-inline-item"><a href="<%= editIssuePath({ issue_id: issue.ID })%>" class="btn btn-warning">Edit</a></li>
  <li class="list-inline-item"><a href="<%= issuePath({ issue_id: issue.ID })%>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
</ul>

<p>
  <strong>Title</strong>: <%= issue.Title %>
</p>
<p>
  <strong>ExperienceNeeded</strong>: <%= issue.ExperienceNeeded %>
</p>
<p>
  <strong>ExpectedTime</strong>: <%= issue.ExpectedTime %>
</p>
<p>
  <strong>Language</strong>: <%= issue.Language %>
</p>
<p>
  <strong>TechStack</strong>: <%= issue.TechStack %>
</p>
<p>
  <strong>Number</strong>: <%= issue.Number %>
</p>
<p>
  <strong>Tags</strong>: <%= issue.Tags %>
</p>
<p>
  <strong>URL</strong>: <%= issue.URL %>
</p>
<p>
  <strong>Body</strong>: <%= issue.Body %>
</p>
<p>
  <strong>Type</strong>: <%= issue.Type %>
</p>
<p>
  <strong>Repository</strong>: <%= issue.Repository %>
</p>
